@keyframes rotate3ding {
    0% {
        left: 0;
        bottom: -12px;
        transform: scale(1);
    }

    25% {
        transform: scale(4);
    }

    50% {
        left: 100%;
        bottom: 40px;
        transform: scale(1);
    }

    75% {
        transform: scale(0.3);
    }

    100% {
        left: 0;
        bottom: -12px;
        transform: scale(1);
    }
}

@keyframes avatar {
  25% {
    transform rotateZ(30deg)
  }
  75% {
    transform rotateZ(-30deg)
  }
}
