.pagination-wrap {
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination {
    pagination-list();

    .prev, .page-number, .next {
      pagination-control();
    }

    .current {
      color: $color-theme;
    }
  }

  &-post {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-prev, &-next {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      color: $color-text;

      i {
        margin: 0rem 0.5rem;
      }
    }
  }

  .pull-left, .pull-right {
    border-animation();
  }
}
