#tags {
  padding-top: 2rem;
  text-align: center;

  .tags-title {
    font-size: 2rem;
    color: $color-text;

    &-text {
      display: inline-block;
    }

    &-line {
      display: inline-block;
      margin: 0 1rem;
    }

    &-amount {
      display: inline-block;
    }
  }

  .tags-cloud {
    margin: 32px 0 0 0;

    a {
      display: inline-block;
      margin: 16px 16px;

      &:hover {
        color: $color-theme;
      }
    }
  }
}
